*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Python #
__pycache__

# IDEA #

Python/ProcBridge/.idea/workspace.xml
Python/ProcBridge/.idea/misc.xml
Python/ProcBridge/.idea/vcs.xml
Python/ProcBridge/.idea/dictionaries
Python/ProcBridge/dist/

Java/ProcBridge/.idea/workspace.xml
Java/ProcBridge/.idea/vcs.xml
Java/ProcBridge/.idea/uiDesigner.xml
Java/ProcBridge/.idea/dictionaries
Java/ProcBridge/.idea/misc.xml
Java/ProcBridge/.idea/libraries
Java/ProcBridge/target/

Java/Example/.idea/workspace.xml
Java/Example/.idea/vcs.xml
Java/Example/.idea/uiDesigner.xml


