[submodule "java"]
	path = java
	url = https://github.com/gongzhang/procbridge-java.git
[submodule "python"]
	path = python
	url = https://github.com/gongzhang/procbridge-python.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/gongzhang/procbridge-nodejs.git
